<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %>
</p>
<p>Current active sessions:</p>
<% sessions.forEach(session=> { %>
    <div class="card mb-3">
        <div class="card-body">
            <p>Session ID: <%= session.sid %>
            </p>
            <p>User ID: <%= session.user_id %>
            </p>
            <a href="/session/destroy/<%= session.sid %>" class="text-decoration-none">Revoke Session</a>
        </div>
    </div>
    <% }) %>